    
    <div class="m-t m-b-small" id="panel-notifications">
        <a href="#" class="dropdown-toggle notifications-btn" data-toggle="dropdown" data-bind="click:openclose">
            <i class="fa fa-comment-o fa-fw fa-lg text-default"></i>
            <b class="badge badge-notes bg-danger count-n" data-bind="visible: isHasNewNotifies(), html: NewNotifiesCount()"></b>
        </a>
        <section class="dropdown-menu __m-l-small m-t-mini">
          <section class="panel panel-large arrow arrow-top">
            <header class="panel-heading bg-white"><span class="h5"><strong>You have <span class="count-n" data-bind="html: NewNotifiesCount()"></span> new notifications</strong></span></header>
            <div data-bind="template: {name: 'notifyMessage', foreach:notifyMessages()}"></div>
            <footer class="panel-footer text-small">
              <!-- a href="#" class="pull-right"><i class="fa fa-cog"></i></a>
              <a href="#">See all the notifications</a -->
            </footer>
          </section>
        </section>
    </div>


<!-- Message tpl -->
<script id="notifyMessage" type="text/html">
    
        <span  class="media list-group-item">
          <!-- span class="pull-left thumb-small"><i class="fa fa-clock-o fa-2x text-default"></i></span -->
          <span class="media-body block m-b-none"><small class="text-muted" data-bind="html: create"></small> <b data-bind="html: title"></b><br><span data-bind="html: data"></span></span>
        </span>
    
</script>    
    
