<section>
    <? if ($this->tag_id > 0):?>
    <script>
        var base_tag = {id: <?=$this->tag_id?>,
                        name:"<?=$this->tag_name?>",
                        remobj:"<?=$this->tag_remobj?>"}
        var base_tag_id =  <?=$this->tag_id?>;           
    </script>
    <?  endif?>
    <div class="calendar" id="calendar" tag_id ="<?echo $this->tag_id?>" tag_name ="<?echo $this->tag_name?>">

      </div>
    </section> 
