.commentsline_informer{
	width: 250px;
	font-size: 11px;
	background-color:transparent;
	border-left:none;
	box-shadow:none;
}

.commentsline_informer.open {
	background-color:rgb(242,242,242);
	border-left-color: rgb(125, 132, 143);
	border-left-style: solid;
	border-left-width: 8px;
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 10px 0px;
	min-width:200px;
}

.commentsline_informer#fields_comments_block{
	max-width:260px;
	width:auto;
}

.commentsline {
	width: 100%;
	min-height: 200px;
	max-height: 300px;
	overflow-y:hidden ;
	margin-bottom:5px;
	
	
}

.fire-commented {
	box-shadow: rgba(226, 146, 53, 0.67) 0px 0px 10px 0px !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(226, 146, 53, 0.67);
	-moz-box-shadow: inset 0 1px 1px rgba(226, 146, 53, 0.67);
	box-shadow: inset 0 1px 1px rgba(226, 146, 53, 0.67);
}

#fields_comments_block .add_new_comment, .fc-commentsline{
	width:250px;
}

#fields_comments_block > .commentsline {
	min-height:20px;
}

.commentsline:hover {
	
	overflow-y:auto;
	
	
	
}

.simple-comment {
	line-height: 12px;
}

.simple-comment > div {
	margin: 2px 0;
}

textarea#create_new_comment, textarea.create_new_comment{
	font-size: 10px;
	line-height: 10px;
	height: 38px;
	width: 175px;
	resize:none;
}

.simple-comment small {
display:inline-block;
color:#999;
font-weight:normal;
margin-right:5px;
}

.simple-comment{
	border-bottom : 1px dashed #aaa;
}

.commentsline.fc-commentsline, .add_new_comment {
	display:none;
}



.open .commentsline.fc-commentsline, .open .add_new_comment {
	display:block;
}

.commentsline :last-child{
	border-bottom : none;
}

#fields_comments_block
{
	position:absolute;
	display:none;
}

#fields_comments_block .close-ctrl,#fields_comments_block .field-title {
	display:none;
}


#fields_comments_block.open .field-title{
	display:inline-block;
	float:left;
	line-height: 12px;
	margin-left: 5px;
	font-weight: bold;
	max-width:165px;
	white-space:nowrap;
	overflow: hidden;
}

#fields_comments_block.open .close-ctrl {
	display:inline-block;
	float:right;
	border:1px #ccc solid;
	cursor:pointer;
}
.fn {
	display:inline-block;
	white-space:nowrap;
	font-weight:normal;
}
#fields_comments_block .fn {
	display:none;
}

.simple-comment {
	color:#000;
}
.simple-comment > strong {
	color:#777777;
}

.field-comments-counter {
	background: url("/img/png/small/glyphicons_245_chat.png") no-repeat;
	width: 15px;
	height: 16px;
	opacity:.7;
	color:#fff;
	cursor: default;
	font-size:8px;
	line-height:8px;
	text-align:center;
	vertical-align:top;
	float:left;
}
