.module_element{
	display:inline-block;
	width: 300px;
	vertical-align: top;
	padding-left:10px;
	
}

.module_element label{
	float:left;
}

.module_element label{
	width:200px;
}


.model_element{
	display:block;
}

.model_element strong{
	clear:both;
	
	
	height: 100px;
}

.model_element label{
	font-size:11px;
	vertical-align:middle;
	
	
}
.model_element label input {
	margin-right:5px;
}
