form.form-model .form-group input.form-control {
    width: 100%;
}

form.form-model .form-group .field-modulerelation_counterpartycontact {
    width: 100%;
}

td.files_list_table_edit, td.files_list_table_delete {
    text-align:center;
}

.controls table.datatable td {
    cursor:default;
} 

form.form-model td.set-radio input {
    width:auto;
    cursor:pointer;
}

form.form-model td.set-radio {
    text-align: center;
}


.wellform td.files_list_table_edit i.fa,
.wellform td.files_list_table_delete i.fa {
    cursor: pointer;
}