.page-header {
    display:none;
    margin:2px 0 2px 20px;
    padding:0;
}
.page-header h3 {
    margin:0px;
}
.page-header h3 > span {
    font-size: 14px;
    
}
div.checkbox {

display: inline-block;
width: 200px;
margin-left: 20px;

}


#gantt .gantt_task,
#milestone-gantt .gantt_task
{
    /*overflow-x: scroll;*/
}
#gantt, #milestone-gantt {
    position:relative;
}
     
.dataTables_wrapper {
    top: 10px;
    /* z-index: 100; */
    position: relative;
    margin-bottom: -25px;
}
    
.panel-body .dataTables_wrapper input {
    width: 100px;
}

.row-fluid .btn-xs i {
font-size: 14px;
    
    
}


#form .form .control-group {
width:306px;

float: left;
margin-right: 20px;
margin-left: 20px;
}

#form form .control-group:last-child {
    clear:both;
}



#tm  header {
    display:none;
}

#tm .btm-ctrls{
    height:100px;
}

.form input,.form select, .form textarea, .form .uneditable-input {
    width: 306px;
}

.form .btn.set_modulerelation {
    width: 30px;
    height: 34px;
    background-image: url("/img/glyphicons-halflings.png");
    background-repeat: no-repeat;
    background-position: -353px -38px;
}

.form input.field-modulerelation_dealincotermsbuy-names, .form input.field-modulerelation_dealincotermssell-names,
.form input.field-modulerelation_dealcontactsell-names,
.form input.field-modulerelation_dealcontact-names,
.form input.field-modulerelation_dealcounterpartysell-names,
.form input.field-modulerelation_dealcounterparty-names,
.form input.field-modulerelation_dealcontactsignee-names,
.form input.field-modulerelation_dealcontactsellsignee-names{
    width:275px;
}

.form .ajax_create_modulerelation {
    display:none;
}

.input-group button.set_modulerelation {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right:1px solid rgb(195, 198, 201);
    
}

.form .field-gr{
    clear:both;
    border-top:1px dashed #ccc;
}

.form .field-gr:first-child{
    border-top:none;
}


#milestone-gantt .gantt-wrap{
    height:200px;
    
}

#gantt .gantt-wrap{
    height:500px;
}


#milestone-gantt.gantt-readonly .gantt_grid_head_add, #milestone-gantt .gantt_add {
    display:none; 
}
#milestone-gantt{
    margin-bottom: 0;
}


.gantt-panel {
    margin-bottom:10px;
}

#tm{
    min-height:300px;
}

.temp-btns {
    float:right;
    padding-top:7px;
    
}

.temp-btns > i {
    display:inline-block;
    margin-left:10px; 
    cursor:pointer;
    font-weight: bold;
    color:#ccc;
    padding-right:3px;
    opacity:.5;
    font-style: normal;
}

.temp-btns > i.fin {
    color:#719dc0;
    
}

.temp-btns > i.selected.fin{
    color:#14588d;
    
}
.temp-btns > i.sel {
    color:#75ba50;
    
}

.temp-btns > i.selected.sel{
    color:#629c42;
    
}
.temp-btns > i.buy {
    color:#c993cd;
    
}

.temp-btns > i.selected.buy{
    color:#9e72a3;
}


.temp-btns > i.selected {
    opacity:1;
    color:black;
}


li .task-title  {
    display:none;
}

li.active .task-title  {
    display: block;
    position: absolute;
    margin-bottom: -12px;
    margin-right: 10px;
    right:0;
    top:13px;
}

.control-group .controls {
    min-height:40px;
}

.task-title > * {
    margin-left:5px;
}

#tm .dataTables_wrapper {
    top:0;
}

/* Participators
***********************/
.members-panel .b-participator {
    width: 100%;
    border-bottom: 1px solid #eee;
    margin: 0px;
    padding: 3px;
    min-height: 50px;
}

.members-panel .b-participator:last-child:not(:first-child) {
    border-bottom: none;
}

.members-panel thead th {
    width: 16.6%;
}

.members-panel table.table tbody td {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #eee;
}

.members-panel .b-participator_rate {
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

.members-panel .b-participator_holder-counterparty .b-participator_label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
}

.members-panel .b-participator_contact {
    padding-left: 5px;
    font-size: 12px;
    color: #00c7f7;
}

.members-panel tfoot:not(.visible) {
    display: none;
}

.members-panel .b-participator_label .user-icon-initials {
    background-color: #ccc;
    font-weight: bold;
    font-style: normal;
    font-size: 11px;
    margin-right: 5px;
    padding: 0px;
}

.members-panel .fa.fa-gear {
    width:20px;
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin-left: -10px;
    margin-top: 3px;
    cursor: pointer;
}

.members-panel .fa.fa-gear:hover {
    font-size:22px;
    color:#000;
    margin-top: 0px;
}

.members-panel .b-participator_adder {
    display: none;
    margin: 3px 8px;
}

.members-panel thead th[data-part] .holder {
    display: none;
    color: #00c7f7;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #00c7f7;
    font-weight: bold;
    padding: 0px 5px;
}

.members-panel thead th[data-part] {
    padding-right: 8px;
    max-width: 17%;
}

.members-panel[data-mode="edit"] thead th[data-part] .holder {
    display: inline-block;
}

.members-panel tbody .b-participator_rate .rate_edit {
    display: none;
    padding-left: 5px;
    color: red;
    cursor: pointer;
}

.members-panel[data-mode="edit"] tbody .b-participator_rate .rate_edit {
    display: inline-block;
}

.members-panel[data-mode="edit"] tbody .b-participator_rate {
    padding: 0px 5px;
    color: #f0b7b7;
    border: 1px solid #f0b7b7;
    border-radius: 3px;
    background-color: white;
}

.members-panel .holder {
    width: auto;
}

.members-panel [data-is-editing="1"] {
    width: 30px;
}

.members-panel [data-is-editing="1"] textarea {
    width: 50px !important;
}

.members-panel .editable-click {
    border: none;
}

.members-panel .editable-container.editable-inline {
    height: 18px;
    vertical-align: top;
}

.members-panel .inline_edit {
    padding: 0px;
    margin: 0px;
    height: auto;
    width: 20px;
    border: none;
    outline: none;
    max-width: 25px;
    display: inline-block;
    margin-top: -5px;
}

.members-panel .editableform .control-group {
    line-height: 19px;
}

.members-panel .b-participator_delete {
    display: none;
    margin-left: -20px;
    margin-top: 3px;
    color: red;
    font-size: 14px;
    cursor: pointer;
    position: absolute;
}

.members-panel .b-participator_delete:hover {
    font-size: 20px;
    margin-top: 0px;
    margin-left: -22px;
}

.members-panel[data-mode="edit"] .b-participator_delete {
    display: inline-block;
}

.members-panel .popover {
    max-width: 650px;
    width: auto;
}

.members-panel .popover-content form div[data-name] {
    min-width: 300px;
    float: left;
}

.members-panel .popover .close {
    font-size: 14px;
}
/* Participators
***********************/


.feed-panel #post_feed, .feed-panel.feed #form {
    display:none;
}

.feed-panel.feed #post_feed, .feed-panel #form{
    display:block;
}

.toggle-feed {
    cursor:pointer;
}

.b-participator .b-participator_label {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
}

.b-participator .b-participator_label ._hover {
    display: block;
    width: 100%;
    height: 20px;
    position: relative;
    float: right;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 94%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(94%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 94%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 94%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 94%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 94%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.b-participator .b-participator_label:hover {
    text-decoration: underline;
}

.b-participator {
    white-space: nowrap;
    min-width: 100px;
}

.b-participator .b-participator_contact {
    cursor: pointer;
}