<div class = "subnav">
    <div class = "subnav-title">
        <a href = "#" class = "toggle-subnav"><i class = "icon-angle-down <?= $this->button->getClass() ?>"></i><span><?= $this->button->getLabel() ?></span></a>

        <ul class = "subnav-menu">
            <?
            if (count($this->button->getItems())) {
                foreach ($this->button->getItems() as $item) {
                    ?>
                    <li>
                        <a href ="<? echo $item->getHref(); ?>"><? echo $item->getlabel(); ?>
                        </a>
                    </li>
                <? }
            }
            ?>
        </ul>
    </div>

</div>
