.logistic_dealertarifsets_informer .form-horizontal .control-group {
    margin-bottom: 2px;
}

.logistic_dealertarifsets_informer .form-horizontal .control-group input  {
    font-size: 12px;
    height: 12px;
}

.logistic_dealertarifsets_informer label {
    font-size: 11px;
    line-height: 10px;
}