<?php $users = $this->circle->fetchRelated('circleusers'); ?>
<?php $moderators = Sl\Service\Essentials::read($this->circle, 'circleusers'); ?>
<?php usort($users, function($a, $b) {
    if($a->getName() == $b->getName()) return 0;
    return ($a->getName() < $b->getName())?-1:1;
}); ?>
<?php //print_r($moderators);die; ?>
<?php $isModerator = array_key_exists(\Sl_Service_Acl::getCurrentUser()->getId(), $moderators); ?>
<section class="panel">
    <header class="panel-heading">
        <?php if($isModerator) { ?>
            <i class="b-circle_ctrl fa fa-plus pull-right adder"></i>
        <?php }?>
        <div class="text-center h5"><?php echo $this->circle->getName(); ?></div>
    </header>
    <ul class="list-group m-b-small">
        <li class="list-group-item hidden">
            <div class="select2-container autocomplete form-control select2-container-active" id="s2id_autogen5" style="width: 100%;"><a href="javascript:void(0)" onclick="return false;" class="select2-choice select2-default" tabindex="-1">   <span>Choose new member ...</span><abbr class="select2-search-choice-close"></abbr>   <div><b></b></div></a><input class="select2-focusser select2-offscreen" type="text" id="s2id_autogen6"></div>
        </li>
        <?php foreach($users as $user) { ?>
            <?php $moderator = array_key_exists($user->getId(), $moderators); ?>
            <?php $current = ($user->getId() == \Sl_Service_Acl::getCurrentUser()->getId()); ?>
            <li class="list-group-item <?php echo $current?' bg-lighter ':''; ?>">
                <span class="pull-right">
                    <?php if($moderator) { ?>
                        <i class="fa fa-star b-circle_moderator"></i>
                    <?php } ?>
                    <?php if($isModerator) { ?>
                        <i class="b-circle_ctrl fa fa-times"></i>
                    <?php } ?>
                </span>
                <span class="user-icon-initials"style="background-color: #<?php echo $user->getColor()?$user->getColor():'eee'; ?>" title="Mobile Developer"><?php echo $user->findInitials(); ?></span><?php echo $user->getName(); ?>
            </li>
        <?php } ?>
    </ul>
</section>