<div class="text-center">
    <h3>
        <?php echo $this->translate('Извините, но у Вас недостаточно прав, для просмотра этой страницы.'); ?>
    </h3>
    <p><?php echo $this->translate('Обратитесь, пожалуйста, к администратору системы.'); ?></p>
    
</div>