<script type="text/javascript" src="/auth/main/form.js"></script>
<link rel="stylesheet" href="/auth/main/form.css">

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 m-t-large">
        <section class="panel">
            <header class="panel-heading text-center">
                <?= $this->translate('Sign in') ?>   
            </header>
            <div class='panel-body'>
            <div class='auth-form <?= $this->is_changepass ? 'hide' : ''; ?>'>
                <?php
                if ($this->errors) {
                    echo $this->partial('errors.phtml', array('errors' => $this->errors));
                }
                ?>

                <?php echo $this->form; ?>
                <div class="line line-dashed"></div>
                
                
            </div>
                <a href="#" class="btn btn-linkedin btn-block"><i class="fa fa-linkedin pull-left"></i>Sign in with LinkedIn</a> 
                <a href="#" class="btn btn-facebook btn-block m-b-small"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
            <div class="change-password <?= !$this->is_changepass ? 'hide' : ''; ?>"> 
                <div class="line line-dashed"></div>
                <? echo $this->restore_password ?>    

                   </div>
         </div>       
        </section>
    </div>
</div>