<script src="/js/fuelux/fuelux.js"></script>
<script src="/kcomments/main/postfeed.js"></script>
<link rel="stylesheet" href="/crm/main/gantt.css">

<!-- gantt scripts  -->

<link rel=stylesheet href="/css/gantt/dhtmlxgantt.css" type="text/css">



<script src="/js/libs/gantt/dhtmlxgantt.js"></script>
<script src="/js/libs/gantt/dhtmlxgantt_tooltip.js"></script>
<script src="http://export.dhtmlx.com/gantt/api.js"></script>  
<script src="/crm/main/gantt.js"></script>

<!-- end of gantt scripts -->

<script>      

    if (undefined == crm_object_tag_id){
        var crm_object_tag_id;
    }
<? if ($this->object_tag_id): ?>
    crm_object_tag_id = <?= $this->object_tag_id; ?>;
<? endif; ?>
        
</script>

<div class="gantt-panel col-lg-12">
    <div id="milestone-gantt" class="panel gantt-readonly" data-gantt_title="<?= $this->object->getIdentifier(); ?>">
    
    </div>
</div>
<div class="members-panel col-lg-12">
    <span class="parts-data">
        <?php foreach($this->parts as $part=>$data) { ?>
            <span
                data-name="<?php echo $part; ?>"
                data-rate="<?php echo intval($this->rates[$part]['rate']); ?>"
                <?php foreach($data as $k=>$v) { ?>
                    data-<?php echo $k; ?>="<?php echo $this->escape(is_array($v)?json_encode($v):$v); ?>"
                <?php } ?>
                ></span>
        <?php }?>
    </span>
    <span class="parts-restictions">
        <?php foreach($this->parts_restrictions as $k=>$v) { ?>
            <span
                data-name="<?php echo $k; ?>"
                data-value="<?php echo $this->escape(json_encode($v)); ?>"
                ></span>
        <?php } ?>
    </span>
    <span class="participators-data">
        <?php foreach($this->participators as $type=>$participators) { ?>
            <?php foreach($participators as $participator_data) { ?>
                <?php $participator = $participator_data['model']; ?>
                <span
                    data-relation="<?php echo $participator_data['relation']; ?>"
                    data-part-type="<?php echo $type; ?>"
                    data-id="<?php echo $participator->getId(); ?>"
                    data-name="<?php echo $participator->getName(); ?>"
                    data-type="<?php echo ($participator instanceof \Application\Module\Business\Model\Counterparty)?'counterparty':'user'; ?>"
                    data-alias="<?php echo \Sl\Service\Helper::getModelAlias($participator); ?>"
                    <?php if($participator instanceof \Sl\Module\Auth\Model\User) {?>
                        data-inits="<?php echo $participator->findInitials(); ?>"
                        <?php if($participator->getColor()) { ?>
                            data-color="<?php echo $participator->getColor(); ?>"
                        <?php } ?>
                    <?php } elseif($participator instanceof Application\Module\Business\Model\Counterparty) { ?>
                        data-contact="<?php echo $participator->getName(); ?>"
                    <?php } ?>
                    data-rate="<?php echo intval($this->rates[$type]['participators'][$participator->getId()]); ?>"
                    ></span>
            <?php } ?>
        <?php } ?>
    </span>
    <section class="panel">
        <header class="panel-heading">
            <div class="btn-group pull-right">
                <span class="dropdown-toggle">
                    <span class="fa fa-gear"></span>
                </span>
            </div>
            <?php echo $this->translate('Participation'); ?></header>
        <div class="table-responsive">
            <table class="table table-striped m-b-small panel-heading" style="width: 100%;">
                <thead>
                    <tr>
                        <th data-part="sellside"><?php echo $this->translate('Sell side'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                        <th data-part="sell"><?php echo $this->translate('Sell'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                        <th data-part="fin"><?php echo $this->translate('Fin'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                        <th data-part="operations"><?php echo $this->translate('Operations'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                        <th data-part="buy"><?php echo $this->translate('Buy'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                        <th data-part="buyside"><?php echo $this->translate('Buy side'); ?><span class="pull-right holder"><span class="editable"></span>%</span></th>
                    </tr>
                </thead>
                <!--<tfoot>
                    <tr>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                        <th><span class="btn-group btn-group-justified"><span class="btn btn-danger"><i class="fa fa-plus"></i> Add</span></span></th>
                    </tr>
                </tfoot>-->
                <tbody>
                    <tr>
                        <?php foreach($this->parts as $part=>$data) { ?>
                            <td data-part="<?php echo $part; ?>" data-type="<?php echo $data['usertype']; ?>" class="b-participator_holder-<?php echo $data['usertype']; ?>">
                                <div class="b-participator_adder">
                                    <div class="control-group">
                                        <div class="controls">
                                            <input
                                                type="hidden"
                                                value=""
                                                class="autocomplete form-control"
                                                data-modelname="<?php echo ($data['usertype'] == 'counterparty')?'counterparty':'user'; ?>"
                                                data-rel="/<?php echo ($data['usertype'] == 'counterparty')?'business/counterparty':'auth/user'; ?>/ajaxautocomplete"
                                                data-type="11"
                                                placeholder="Choose new member ..."
                                                title="Add new member"
                                                data-name="">
                                        </div>
                                    </div>
                                </div>
                            </td>
                        <?php } ?>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>
<div class="main-panel col-lg-8">
    <section class="panel">
        <header class="panel-heading">
            <ul class="nav nav-tabs nav-justified">
                <li class="active"><a href="#post_feed" data-toggle="tab">Discussion board</a></li>
                <li><a href="#form" data-toggle="tab" data-model_id='<?= $this->object->getId(); ?>'>Details</a></li>
             
               <!--li><a href="#tm" data-toggle="tab">Task manager</a><span class='task-title'>
                    <?    if (\Sl_Service_Acl::isAllowed(
                                            \Sl_Service_Acl::joinResourceName(array(
                                                'type' => \Sl_Service_Acl::RES_TYPE_MVC,
                                                'module' => 'crm',
                                                'controller' => 'task',
                                                'action' => 'ajaxedit'
                                            )), \Sl_Service_Acl::PRIVELEGE_ACCESS
                         )){
                            echo '<span id="edit-task-popover" data-toggle="popover"  rel="popover" data-html="true" '
                                    . '                     data-placement="bottom" '            
                                    . '                     data-original-title="<button type=\'button\' class=\'close pull-right\' data-dismiss=\'popover\'><i class=\'fa fa-times\'></i></button>Edit" '
                                    . '                      ></span>';
                        } ?>
                         <span 
                              data-content="<span id='form-create' class='fa fa-spinner' data-alias='crm.task' data-rel ='/crm/task/ajaxcreate'></span>" 
                              data-original-title="<button type='button' class='close pull-right' data-dismiss='popover'><i class='fa fa-times'></i></button>Create" 
                              data-toggle="popover" rel="popover" 
                              data-html="true" 
                              data-placement="bottom" 
                              class="menu-btn-simple fa fa-plus createbaseobject"></span>
                         <i class="fa fa-gear fa-lg toggle_settings"></i>     
                        </span></li -->
            </ul>
        </header>


        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="post_feed" data-relation='dealpost' data-model_id='<?= $this->object->getId(); ?>'>
                    <section class="comment-list block">

                    </section>


                </div>
                <div class="tab-pane" id="form">
                    <div class="panel-group m-b" id="accordion_form">
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#SubjectTransaction" 
                                   data-fields="name,status,target_date,target_sum,quantity,quality,buy_from,sell_to,our_role,deal_type,modulerelation_dealincotermsbuy,modulerelation_dealincotermssell,shipping_from,shipping_date,delivery_destination,delivery_date"
                                >
                                    <?=$this->translate('Subject/Transaction');?>
                                </a>
                            </div>
                            <div id="SubjectTransaction" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#PaymentTermsSeller"
                                   data-fields="payment_schedule_seller,total_amount_to_be_paid,risk_exposure_seller"
                                >
                                    <?=$this->translate('Payment Terms (seller)');?>
                                </a>
                            </div>
                            <div id="PaymentTermsSeller" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#PaymentTermsBuyer"
                                    data-fields="payment_schedule_buyer,total_amount_to_be_recieved,risk_exposure_buyer"
                                 >
                                    <?=$this->translate('Payment Terms (buyer)');?>
                                </a>
                            </div>
                            <div id="PaymentTermsBuyer" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#LogisticsCompany"
                                    data-fields="type_of_transportation,delivery_schedule"
                                   >
                                    <?=$this->translate('Logistics company');?>
                                </a>
                            </div>
                            <div id="LogisticsCompany" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                            
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#SalesRevenue"
                                   data-fieldgroups="_:cost_of_goods_sold,gross_profit|Expenses:accounting_and_legal_fees,bank_service_charges,financing_costs,comissions,agency_fees,insurance,interest,transportation_logistics,travel,services,inventory_purchase,sales_and_marketing,research_and_development,general_administrative,miscellaneous,deprecation_and_amortization,taxes,net_profit"
                                 >
                                    <?=$this->translate('Sales Revenue');?>
                                </a>
                            </div>
                            <div id="SalesRevenue" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#OurCompanyInfoBuy"
                                   data-fields="our_company_buy_name,our_company_buy_registerede_addr,our_company_buy_physical_addr,our_company_buy_phone,our_company_buy_fax,our_company_buy_fax,our_company_buy_email"
                                 >
                                    <?=$this->translate('Our Company Info (buy)');?>
                                </a>
                            </div>
                            <div id="OurCompanyInfoBuy" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#OurCompanyInfoSell"
                                   data-fields="our_company_sell_name,our_company_sell_registerede_addr,our_company_sell_physical_addr,our_company_sell_phone,our_company_sell_fax,our_company_sell_fax,our_company_sell_email"
                                   >
                                    <?=$this->translate('Our Company Info (sell)');?>
                                </a>
                            </div>
                            <div id="OurCompanyInfoSell" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#ProjectManager"
                                   data-fields="modulerelation_dealuserprojectmanager,modulerelation_dealusertrader,modulerelation_dealuserlegalsupport,modulerelation_dealusertaxandaccsupport"
                                >
                                    <?=$this->translate('Project Manager');?>
                                </a>
                            </div>
                            <div id="ProjectManager" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#CounterpartySeller"
                                 data-fieldgroups="_:modulerelation_dealcounterpartysell,counterparty_seller_full_legal_company_name,counterparty_seller_registered_address,counterparty_seller_regulatory_body,counterparty_seller_physical_addr,counterparty_seller_phone,counterparty_seller_fax,counterparty_seller_email,counterparty_seller_establishment_date,counterparty_seller_establishment_date,counterparty_seller_business_line|Contact Person:modulerelation_dealcontact,counterparty_seller_contact_name,counterparty_seller_contact_phone,counterparty_seller_contact_fax,counterparty_seller_contact_email|Signee:modulerelation_dealcontactsellsignee,counterparty_seller_signee_name,counterparty_seller_signee_phone,counterparty_seller_signee_fax,counterparty_seller_signee_email,counterparty_seller_signee_autorized_by"
                                 >
                                    <?=$this->translate('Counterparty (seller)');?>
                                </a>
                            </div>
                            <div id="CounterpartySeller" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_form" href="#CounterpartyBuyer"
                                 data-fieldgroups="_:modulerelation_dealcounterparty,counterparty_buyer_full_legal_company_name,counterparty_buyer_registered_address,counterparty_buyer_regulatory_body,counterparty_buyer_physical_addr,counterparty_buyer_phone,counterparty_buyer_fax,counterparty_buyer_email,counterparty_buyer_establishment_date,counterparty_buyer_establishment_date,counterparty_buyer_business_line|Contact Person:modulerelation_dealcontactsell,counterparty_buyer_contact_name,counterparty_buyer_contact_phone,counterparty_buyer_contact_fax,counterparty_buyer_contact_email|Signee:modulerelation_dealcontactsignee,counterparty_buyer_signee_name,counterparty_buyer_signee_phone,counterparty_buyer_signee_fax,counterparty_buyer_signee_email,counterparty_buyer_signee_autorized_by"
                                 data-fieldadditions="modulerelation_dealcounterparty"
                                 >
                                 
                                    <?=$this->translate('Counterparty (buyer)');?>
                                </a>
                            </div>
                            <div id="CounterpartyBuyer" class="panel-collapse collapse"><div class="panel-body text-small form"></div></div>
                        </div>
                        
                    </div>



                </div>
                
                <!--div class="tab-pane" id="tm">



                </div-->
            </div>
        </div>



    </section>
</div>

<div class='right-panel col-lg-4 pull-right'>
        <div class='right-boxes'>         
            <section class="panel" >
                <header class="panel-heading">
                    <?= $this->translate('Fact box') ?>
                </header>
                <section class="factbox scrollbar scroll-y m-b">


                </section>
            </section>

            <section class="panel fileshare-panel"  data-relation_name="dealfile" data-relation_value="<?= $this->object->getId(); ?>">
                <header class="panel-heading fileshare-head">
                    File share

                    <i class="fa fa-plus attach" data-toggle="tooltip" data-placement="right" title="Attach file" data-original-title="Attach file"></i><input type="file" class="hide" value="" data-rel="/home/file/ajaxcreate/">

                </header>
                <section class="fileshare scrollbar scroll-y m-b">

                </section>
            </section>
        </div>    
</div> 
<script type="text/x-underscore-tmpl" id="participatorTpl-counterparty">
    <div class="b-participator" data-id="<%= id %>">
        <span class="pull-right">
            <i class="b-participator_delete pull-left fa fa-trash-o"></i>
            <span class="b-participator_rate"><span class="holder"><span class="editable"><%= rate %></span>%</span></span>
        </span>
        <span class="b-participator_label"><%= name %></span>
        <span class="b-participator_contact"><%= contact%></span>
    </div>
</script>
<script type="text/x-underscore-tmpl" id="participatorTpl-user">
    <div class="b-participator" data-id="<%= id %>">
        <span class="pull-right">
            <i class="b-participator_delete pull-left fa fa-trash-o"></i>
            <span class="b-participator_rate pull-right"><span class="holder"><span class="editable"><%= rate %></span>%</span></span>
        </span>
        <span class="b-participator_label"><i class="user-icon-initials" <% if(color) { %>style="background-color: #<%= color %>"<% } %>><%= inits %></i><%= name %></span>
        <span class="b-participator_contact"></span>
    </div>
</script>
