/* 
    Document   : calendar
    Created on : 27 лют 2014, 11:11:21
    Author     : Illya
    Description:
        Purpose of the stylesheet follows.
*/

#calendar { 
    margin-bottom: 30px;

}

.subnav-title{
    margin-left: 10px;
    display:inline-block;
}

.tag-class:hover{

}

.tag-class{
    display: inline-block;
    font-size: 11px;
    color: #fff;
    padding: 6px 8px;
    cursor: pointer;
    margin: 2px;
    float: left;
    background-color:#ff5f5f;
    margin-top: -1px;
}
.others{
    margin-left: 20px;
    margin-top: 25px;
}
.subnav-menu .nav_tag{
    margin-top: 5px;
    margin-bottom: 5px;
}
.subnav_tags {
    max-width: 150px;
}
.subnav-menu.checkbox {
    padding-left:10px;
}
#nav span.label.tag-class {
    white-space:normal;
}
#nav .checkbox.others.nav_tag {
    margin-left:10px;
}
#nav .checkbox.nav_tag input[type="checkbox"]{
    display:none;
}
#nav .checkbox.nav_tag{
    padding-left:0;
}