.dhx_cal_light div.form-row {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.select2-drop.select2-drop-active {
    z-index:100000;
}

.dhx_cal_light div.form-row input {
    width:200px;
}

.dhtmlx_message_area {display:none;}


#gantt div.gantt_row .gantt_add {
    display:none;
}
#gantt div.gantt_row.milestone .gantt_add {
    /*   display:inline-block; */
}

.gantt_task_line.milestone.level-100{
    background-color: #CE0C23;
    border-color: #740214;
}



.gantt_task_line.milestone.level-50{
    background-color: #E1E728;

    border-color: #BFC518;
}
.gantt_task_line.milestone.level-50 .gantt_task_content {
    /* color:#740214; */
    color: #fff;
    
}

.gantt_task_line .gantt_task_content
{
    text-shadow: -1px -1px 1px rgba(255,255,255,0.2), 1px 1px 1px rgba(0,0,0,0.8);
}

.gantt_task_line.milestone.level-50:after, .gantt_task_line.milestone.level-50:before{

    border-top-color: #BFC518;
}

/*
.gantt_task_line.milestone.level-50 .gantt_task_progress{
    background:#B1B616

}

.gantt_task_line.milestone.level-0 .gantt_task_progress{
    background:#46ad51

}

.gantt_task_line.milestone.level-100 .gantt_task_progress{
    background:#8F0B20;
    border-color:#740214; 
}
*/

.gantt_task_line.milestone .gantt_task_progress{
    background:#46ad51;
    color:white;    
}

.gantt_task_line.milestone.level-100 .gantt_task_progress{
    background:#8F0B20;
    border-color:#740214; 
}


.gantt_task_line.milestone.level-0{
    background-color: #65c16f;

    border-color: #3c9445;
}
.gantt_task_line.milestone.level-0:after, .gantt_task_line.milestone.level-0:before{

    border-top-color: #3c9445;
}




.gantt_task_line.gantt_selected .gantt_link_control div, .gantt_task_line.milestone:hover .gantt_link_control div {
    display: none;
}

.gantt_task_line.milestone:after, .gantt_task_line.milestone:before{
    content: " ";
    bottom: -5px;

    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid #740214;    
}

.gantt_task_line.milestone:before{
    border-left: 1px solid transparent;
    border-right: 5px solid transparent;
    left: -1px;

}

.gantt_task_line.milestone:after{
    border-left: 5px solid transparent;
    border-right: 1px solid transparent;
    right: -1px;

}

.gantt-wrap .gantt_hor_scroll>div {
    height:15px;
}

.gantt_tree_content input{
    border:none;
    height:20px;
    font-size:13px;
    line-height:13px;
    background-color:transparent;
    width:164px;
}

.gantt_tree_content input.field-date{
    width:70px;
}

.gantt_tree_content input.int, .gantt_tree_content input.intPositive{
    width:30px;
    text-align:center;
}

.gantt_task_line.new-ms-milestone {
    display:none;
}
.gantt-ctrls{
    min-height:26px;
}

.gantt-ctrls .scale-ctrl{
    float:right;
}

.gantt_grid_head_cell .btn-group{
    display:inline-block;
    padding: 0 5px;
    background:transparent;
    cursor:pointer;
}
.gantt_grid_head_cell ul.dropdown-menu {
    top:20px;
    left:5px;
    text-align:left;
}

.gantt_grid_head_cell .btn-group:hover {
    color:#000;
}

.gantt_grid_head_cell .btn-group.open .dropdown-toggle, .gantt_grid_head_cell .btn-group .dropdown-toggle:active{
    box-shadow: none;
    -webkit-box-shadow: none;
    color:#000;
}

.user-icon {

}

.user-icon-initials.fa:before{
    font-family:FontAwesome;
    margin-top:10px;

}

.user-icon-initials.fa{
    vertical-align: top;
    padding-top: 5px;
    color: #888;
    background-color: #eee;
}

.user-icon-initials {
    width: 17px;
    height: 100%;
    font-size: 10px;
    color: #fff;
    text-align: center;
    margin-left: 4px;
    display: inline-block;
    /*letter-spacing: -0.2em;
    padding-left: 3px;*/
    font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor:default;
}

.open-lightbox {
    visibility: hidden;
    cursor:pointer;
}

.gantt_row:hover .open-lightbox {
    visibility: visible;
}

.gantt_row .open > ul.dropdown-menu:after {
    top: -9px;
    
    border-top-width: 0;
    content: " ";
    position: absolute;
        width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
    margin-left: 41px;
} 

.gantt_tree_icon.gantt_blank{
    padding-top: 2px;
    padding-left: 3px;
}

.gantt_task_row .week_end {
    background-color:#EFF5FD;
    
}

.gantt_grid_head_cell .btn-group.open .dropdown-menu {
    display:block !important;
}

.gantt_grid_head_cell .gantt-ms-add, .gantt_grid_head_cell .gantt-ms-edit {
 /*    padding:0 5px; */
    
    cursor:pointer; 
}

.gantt-readonly .gantt_grid_head_cell.gantt_grid_head_text .gantt-ms-add .fa.fa-plus-circle, .gantt-readonly .gantt_grid_head_cell.gantt_grid_head_text .fa.fa-angle-up, 
.gantt_grid_head_text.gantt_grid_head_cell span.fa.fa-angle-down{
    display:none;
}

.gantt-readonly .gantt_grid_head_cell.gantt_grid_head_text .fa.fa-angle-down {
    display:inline-block;
}

.gantt-fixed .gantt_grid_head_cell.gantt_grid_head_text span.fa.fa-angle-down, .gantt-fixed .gantt_grid_head_cell.gantt_grid_head_text span.fa.fa-angle-up,
.gantt-fixed .gantt-readonly .gantt_grid_head_cell.gantt_grid_head_text span.fa.fa-angle-down, .gantt-fixed .gantt-readonly .gantt_grid_head_cell.gantt_grid_head_text span.fa.fa-angle-up{
    display:none;
}
/*
.gantt_container .gantt_grid_head_cell .fa:hover,
.gantt_container .open-lightbox.fa:hover{
   font-size: 120%;
   vertical-align: middle;
   width:12px;
   height:12px;
} */

#gantt-context-menu {
  
}

.gantt_tree_content .open-lightbox {
    width:10px;
    
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}

.gantt-wrap ::-webkit-scrollbar{
    width:12px;
    height:0.8em;
    position:absolute;
}

.gantt_side_content.gantt_left, .gantt_side_content.gantt_right {
    height:auto;
    visibility: hidden;
    line-height:10px;
    font-size:10px;
}

.gantt_side_content.gantt_left {
    text-align:right;
}

.gantt_task_line:hover .gantt_side_content.gantt_left, .gantt_task_line:hover .gantt_side_content.gantt_right {
    visibility: visible;
    height: 30px;
    top:-3px;
}