.popover-content form.form-model input,
.popover-content form.form-model textarea,
.popover-content form.form-model select {
    width: 220px;
    max-width: 220px;
    font-size:10px;

}

.popover-content .form-horizontal .control-group, 
.popover-content form, 
.popover-content .alert,
.popover-content .panel,
.popover-content .progress {
    margin-bottom: 2px;
}

.popover-content button.fa:before, #Save_ajax:before {
    margin-right: 5px;
}


.popover {
    max-width:500px;
    width:500px;
}

.popover form.form-model {
    width:460px;
}

.popover form.form-model div.control-group {
    width:225px;
    display:inline-block;
    vertical-align: top;
}

.popover form.form-model div.control-group:last-child {
    
    width:450px;
    display:block;
}

.create-subproduct-by-product {
    margin-right:5px;
}

#header .navbar-brand {
    width:150px;
    text-align:left;
}

#header #panel-notifications {
    display:inline-block;
    position:relative;
    vertical-align: top;
}
#header {
    header:50px;
}

#header .badge.badge-notes.bg-danger.count-n {
    top:-20px;
}

.nav-primary li li a.assign-me,
a.assign-me {
    margin-left:7px;
    padding:0;
}

.tasks-panel header {
    display:none;
}

.tasks-panel {
    padding-right: 0px;
}

.tasks-panel .btm-ctrls {
    display:none;
}

.nowrap {
    white-space: nowrap;
}

#panel-notifications section.panel-large > div {
    max-height: 200px;
    overflow-y: scroll;
}

.gantt_grid_head_cell.gantt_grid_head_text span.fa
{
    width:20px;
    
    display:inline-block;
    text-align: center;
    vertical-align: middle;
    
}



.gantt_grid_head_cell.gantt_grid_head_text span.fa:hover,
.gantt_tree_content .open-lightbox:hover{
    font-size:22px;
    color:#000;
}

#edit-task-popover {
    height: 10px;
    display: inline-block;
}

.datatable .edit-task {
    display:inline-block;
    width:30px;
}

/* deal creation custom form */

.popover form.model-deal.ajaxcreate div.control-group:nth-child(4){
    width:450px;
    display:block;
}

.popover form.model-deal.ajaxcreate div.control-group:nth-child(4) input{
    width:450px;
    max-width:450px;
    
}

.tasks-panel .panel.list {
    margin: 0px;
    padding: 0px;
    border: none;
}

.tasks-panel .panel.list  {
    margin: 0px;
    padding: 0px;
    border: none;
}

.tasks-panel .dataTables_wrapper{
    top: 0;
    margin-top: -13px;
    margin-bottom: -1px;
}