
.page-header {
    display:none;
    margin:2px 0 2px 20px;
    padding:0;
}
.page-header h3 {
    margin:0px;
}
.page-header h3 > span {
    font-size: 14px;
    
}

div.checkbox {

display: inline-block;
width: 200px;
margin-left: 20px;

}


#gantt, #milestone-gantt {
    position:relative;
}
    
.dataTables_wrapper {
    top: 10px;
    /* z-index: 100; */
    position: relative;
    margin-bottom: -25px;
}
    
.panel-body .dataTables_wrapper input {
    width: 100px;
}

.row-fluid .btn-xs i {
font-size: 14px;
    
    
}


#form form .control-group {

float: left;
margin-right: 20px;
margin-left: 20px;
}

#form form .control-group:last-child {
    clear:both;
}

.gantt_task_line.milestone{
    background-color: #CE0C23;
    border-color: #740214;
}

.gantt_task_line.milestone .gantt_task_progress{
    background:#8F0B20;
}


.gantt_task_line.gantt_selected .gantt_link_control div, .gantt_task_line.milestone:hover .gantt_link_control div {
display: none;
}

#tm  header {
    display:none;
}

#tm .btm-ctrls{
    height:100px;
}

#milestone-gantt .gantt-wrap{
    height:200px;
    
}

#gantt .gantt-wrap{
    height:500px;
}

#milestone-gantt.gantt-readonly .gantt_grid_head_add, #milestone-gantt .gantt_add {
     display:none; 
}

#milestone-gantt{
    margin-bottom: 0;
}

.gantt-panel {
    margin-bottom:10px;
}


#tm{
    min-height:300px;
}


li .task-title  {
    display:none;
}

li.active .task-title  {
    display: block;
    position: absolute;
    margin-bottom: -12px;
    margin-right: 10px;
    right:0;
    top:13px;
}

.task-title > * {
    margin-left:5px;
}

#tm .dataTables_wrapper {
    top:0;
}