.fieldtype-datetime, .fieldtype-select, .fieldtype-text
{
    width: 170px;
}
#type {
	width: 240px;
}
#remind {
	width: 140px;
}
.remind{
    width: 120px !important;
}
.status{
    width: 120px !important;
}
.type{
    width: 220px !important;
}
#name {
	width: 275px;
}

#date_finish, #date_start{
    width: 102px;
    font-size: 11px;
    padding-left: 2px;
}
.date_start
{
    width: 145px !important;
}
#task_set{
	width: 265px; 	
}

#status {
	width: 140px;
}
#description{
	width:220px;
}

.row-fluid.listform.well{
	width:805px;
}

.field-modulerelation_tasknote-create{
	width: 100px;
        font-size: 12px !important;
}

#modulerelation_taskuser_names
{
    width: 220px;
}
.mail_from
{
   /* border-radius: 10px;
    background: #FCF8E3;
    border:solid 1px #c3c3c3;
    */
    padding: 20px 0;
    border-top: #ccc 1px solid;
    border-bottom: #ccc 1px solid;
    margin-bottom: 5px;
    width: 810px;
}

#mail_topic, #mail_body {
	width: 480px;
}

.mail_from span.minheight {
	min-height:170px;
}

input.field-modulerelation_tasknote-description{
	width: 450px;
}

.form_compact input.field-modulerelation_tasknote-name{
	width: 130px;
}
.form_compact input.field-modulerelation_tasknote-description{
	width: 420px;
}
.form_compact .name
{
    width: 330px !important;
}
.form_compact #description {
    width: 345px;
}
.form_compact .remind {
    width: 145px !important;
}
.form_compact .status {
    width: 185px !important;
}
.form_compact .type {
    width: 153px !important;
}
.form_compact #type {
    width: 145px;
}
.form_compact #modulerelation_taskuser_names
{
    width: 160px;
}
/*
.form_compact #name
{
    width: 165px;
}

.form_compact #type, .form_compact #remind {
    width: 110px;
}

.form_compact #status
{
    width: 175px;
}

.form_compact #modulerelation_taskuser_names
{
    width: 145px;
}


.form_compact #date_finish, .form_compact #date_start {
    width: 142px;
}
.form_compact #task_set, .form_compact #description {
    width: 165px;
}
.form_compact .row-fluid.listform.well {
    width: 650px;
}
.form_compact .field-modulerelation_tasknote-name 
{
    width: 160px;
}
.form_compact .field-modulerelation_tasknote-description
{
    width: 315px;
}
*/
body.iframe .breadcrumb {width: 700px;}

body.iframe .page-header
{
    display: none;
}

.custom_button_create
{
  
    background-image: url("/img/glyphicons-halflings.png");
    background-position: -401px -89px;
    height: 31px;
    width: 30px;
   
   
}
#description
{
    width: 500px;
}
.taskfile_mail{
    padding-top: 27px;
}

.page-header
{
    display: none;
}

.taskmailergroup .control-group
{
    min-height: 90px;
}