.datatable tr.status_2 td, .datatable tr.status_2:hover td, .table-striped tbody > tr.status_2:nth-child(2n+1) > td, .table-striped tbody > tr.status_2:nth-child(2n+1):hover > td {
    background: none repeat scroll 0 0 #B9F8B9;
}

.datatable tr.status_3 td, .datatable tr.status_3:hover td, .table-striped tbody > tr.status_3:nth-child(2n+1) > td, .table-striped tbody > tr.status_3:nth-child(2n+1):hover > td {
       background: none repeat scroll 0 0 #FFD86E;
}
