<!DOCTYPE html>
<html lang="en">
   <head>
    <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<?php Sl_Event_Manager::trigger(new Sl_Event_View('headTitle', array('view' => $this))); ?>
	<?php echo $this->headTitle(); ?>

    <!-- Початок нових стилів -->
    <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/font.css">
	<link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <!--[if lt IE 9]>
    <script src="/js/ie/respond.min.js"></script>
    <script src="/js/ie/html5.js"></script>
    <script src="/js/ie/excanvas.js"></script>
  <![endif]-->
    
    
    <!-- Кінець нових стилів -->
    
    <!-- Le styles -->

    <!-- jQuery UI -->
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <!--link rel="stylesheet" href="/css/jquery.ui.theme.css"-->
    
    <!-- chosen -->
    <link rel="stylesheet" href="/css/plugins/chosen/chosen.css">
    <!-- select2 -->
    
    <!-- link href="/css/light/jquery.datatables.css" rel="stylesheet" -->
   
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
    <!--link rel="stylesheet" href="/css/jquery.layout.css" -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/jquery-ui-timepicker-addon.css">
   
    <!-- custom css begin --><?php Sl_Event_Manager::trigger(new Sl_Event_View('headLink', array('view' => $this))); ?>
    <?php echo $this->headLink(); ?><!-- custom css end -->
    
    
    <script src="/js/libs/underscore.min.js"></script>
    <script src="/js/libs/jquery/1.10/jquery-1.10.2.min.js"></script>
    <!-- Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/libs/jquery/1.10/jquery-ui.js"></script>
 
    
   <!-- ///////////////////////////////  -->
   <!-- Nice Scroll -->
   
   
   <!-- ///////////////////////////////  -->
    
    <?php/* if(stripos($_SERVER['HTTP_USER_AGENT'],"iPod") || stripos($_SERVER['HTTP_USER_AGENT'],"iPhone") || stripos($_SERVER['HTTP_USER_AGENT'],"iPad")) { ?>
        <!--<link href="/css/jquery.mobile.min.css" rel="stylesheet"> -->
    <?php } */?>
    
    
	
	
	
	
	
     <script src="/js/libs/jquery.tmpl.min.js"></script> 
     <script src="/js/libs/jquery.editable.js"></script>
     <script src="/js/libs/knockout/knockout.js"></script>
     <script src="/js/libs/knockout/knockout.mapping.js"></script>
     <script src="/js/libs/knockout/ui/util.js"></script>
     <script src="/js/libs/knockout/ui/contextmenu.js"></script>
     <script src="/js/libs/jquery/plugin/iframePopup.js"></script>
     
	
    <script src="/js/libs/jquery.tap.min.js"></script>

   <script src="/js/libs/md5.min.js"></script>
   <script src="/js/libs/jquery.jstree.js"></script>
   <script src="/js/libs/bootstrap-contextmenu.js"></script>
   <script src="/js/libs/jquery.bootstrap.file.js"></script>
   
    <script src="/js/libs/datatables.min.js"></script>
    <script src="/js/libs/datatables.silenca.js"></script>
    <script src="/js/libs/listview.js"></script>
    <script src="/js/libs/datatables.pagination.bootstrap.js"></script>
    <script src="/js/libs/datatables.colreorder.min.js"></script>
    
    <script src="/js/libs/datatables.colreorderresize.js"></script>
    <script src="/js/libs/jquery.layout.min.js"></script>
    <script src="/js/core.js"></script>
    <script src="/js/global.js"></script>

    <script src="/js/libs/calculator.js"></script>
    <script src="/js/libs/insertatcaret.js"></script>
    <script src="/js/libs/jquery.autosize.min.js"></script>
    <script src="/js/plugins/validation/jquery.validate.min.js"></script>
    <script src="/js/plugins/validation/additional-methods.min.js"></script>
    <script src="/js/libs/fileupload/jquery.ui.widget.js"></script>
    <script src="/js/libs/fileupload/jquery.iframe-transport.js"></script>
    <script src="/js/libs/fileupload/jquery.fileupload.js"></script>
    <script src="/js/jquery-ui-timepicker-addon.js"></script>
    <script src="/js/plugins/fullcalendar/fullcalendar.min.js"></script>

    
    <!-- custom js begin --><?php Sl_Event_Manager::trigger(new Sl_Event_View('headScript', array('view' => $this))); ?>
    <?php echo $this->headScript(); ?><!-- custom js end -->
  </head>


   <body class="navbar-fixed <?php echo $this->is_iframe?' iframe ':''; ?> <?php echo $this->action?' '.$this->action.' ':''; ?>">

        <header id="header" class="navbar">
            <a class="navbar-brand" href="/">
                <?php Sl_Event_Manager::trigger(new Sl_Event_View('logo', array('view' => $this))); ?>
            </a>    


                <?php Sl_Event_Manager::trigger(new Sl_Event_View('nav', array('view' => $this))); ?>

                <?php Sl_Event_Manager::trigger(new Sl_Event_View('header', array('view' => $this))); ?>

        </header>
            <?php Sl_Event_Manager::trigger(new Sl_Event_View('beforePageHeader', array('view' => $this))); ?>
            <?php if (strlen($this->title) || strlen($this->subtitle)) { ?>
                <div class="page-header">	
                    <h3>
                        <span class="title"><?php echo $this->title ? ($this->title . ': ') : ''; ?></span><span class='subtitle'><?= $this->subtitle ?></span>
                    </h3>
                </div>
            <?php } ?>

                            <section id="content">
                    <div class="main padder">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="text-center m-b-large">
                            <h1 class="h text-white">404</h1>
                            </div>
                            <div class="list-group m-b-small">
                            <a href="/" class="list-group-item">
                                <i class="fa fa-chevron-right"></i>
                                <i class="fa fa-fw fa-home"></i> Goto homepage
                            </a>
                            
                            </div>
                        </div>
                    </div>
                    </div>
                </section>

            
            <?php echo $this->error_message; ?>
            <footer>
                <a href='http://silencatech.com/' target='_blank' class='silenca-logo pull-right'></a>
            </footer>
        <?php if (file_exists(APPLICATION_PATH . '/../public/ondev.phtml')) {
            require_once APPLICATION_PATH . '/../public/ondev.phtml';
        }?>
    </body>
</html>
