<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <!-- Apple devices fullscreen -->
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <!-- Apple devices fullscreen -->
        <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<?php Sl_Event_Manager::trigger(new Sl_Event_View('headTitle', array('view' => $this))); ?>
	<?php echo $this->headTitle(); ?>

        <!-- Початок нових стилів -->
        <?php $this->headLink()
                    ->appendStylesheet('/css/bootstrap.css')
                    ->appendStylesheet('/css/font-awesome.min.css')
                    ->appendStylesheet('/css/font.css')
                    ->appendStylesheet('/css/style.css')
                    ->appendStylesheet('/css/plugin.css')
                    ->appendStylesheet('/css/jquery-ui.css')
                    ->appendStylesheet('/css/plugins/chosen/chosen.css')
                    ->appendStylesheet('/js/select2/select2.css')
                    ->appendStylesheet('/css/jquery.fileupload.css')
                    ->appendStylesheet('/css/styles.css')
                    ->appendStylesheet('/css/jquery-ui-timepicker-addon.css')
                    ->appendStylesheet('/css/plugins/xeditable/jquery.xeditable.css'); ?>

        <!-- custom css begin -->
        <?php Sl_Event_Manager::trigger(new Sl_Event_View('headLink', array('view' => $this))); ?>
        <?php echo $this->headLink(); ?>
        <!-- custom css end -->
    
        <!--<script src="/js/libs/underscore.min.js"></script>
        <script src="/js/libs/jquery/1.8/jquery-1.8.3.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/js/libs/jquery/1.10/jquery-ui.js"></script>
-->
        <?php $this->headScript()
                ->prependFile('/js/libs/sl.forms.js')
                ->prependFile('/js/libs/jquery/1.10/jquery-ui.js')
                ->prependFile('/js/bootstrap.js')
                ->prependFile('/js/libs/jquery/1.8/jquery-1.8.3.min.js')
                ->prependFile('/js/libs/underscore.min.js')
                
                ->offsetSetFile(20, '/js/libs/formcontroller.js')
                ->appendFile('/js/libs/jquery.tmpl.min.js')
                ->appendFile('/js/libs/jquery.editable.js')
                ->appendFile('/js/libs/jquery.xeditable.js')
                ->appendFile('/js/libs/knockout/knockout.js')
                ->appendFile('/js/libs/knockout/knockout.mapping.js')
                ->appendFile('/js/libs/knockout/ui/util.js')
                ->appendFile('/js/libs/knockout/ui/contextmenu.js')
                ->appendFile('/js/libs/jquery/plugin/iframePopup.js')
                ->appendFile('/js/libs/jquery.tap.min.js')
                ->appendFile('/js/libs/md5.min.js')
                ->appendFile('/js/libs/jquery.jstree.js')
                ->appendFile('/js/libs/bootstrap-contextmenu.js')
                ->appendFile('/js/libs/jquery.bootstrap.file.js')
                ->appendFile('/js/libs/datatables.min.js')
                ->appendFile('/js/libs/datatables.silenca.js')
                ->appendFile('/js/libs/listview.js')
                ->appendFile('/js/libs/datatables.pagination.bootstrap.js')
                ->appendFile('/js/libs/datatables.colreorder.min.js')
                ->appendFile('/js/libs/datatables.colreorderresize.js')
                ->appendFile('/js/libs/jquery.layout.min.js')
                ->appendFile('/js/core.js')
                ->appendFile('/js/global.js')
                ->appendFile('/js/libs/calculator.js')
                ->appendFile('/js/libs/insertatcaret.js')
                ->appendFile('/js/libs/jquery.autosize.min.js')
                //->appendFile('/js/plugins/validation/additional-methods.min.js')
                ->appendFile('/js/libs/fileupload/jquery.ui.widget.js')
                ->appendFile('/js/libs/fileupload/jquery.iframe-transport.js')
                ->appendFile('/js/libs/fileupload/jquery.fileupload.js')
                ->appendFile('/js/jquery-ui-timepicker-addon.js')
                ->appendFile('/js/plugins/fullcalendar/fullcalendar.min.js')
                ->appendFile('/js/app.js')
                ->appendFile('/js/date.format.js')
                ->appendFile('/js/date.format.js')
                ->appendFile('/js/select2/select2.min.js')
                ->appendFile('/js/togglenavigation.js'); ?>

        <!-- custom js begin -->
        <?php Sl_Event_Manager::trigger(new Sl_Event_View('headScript', array('view' => $this))); ?>

        <?php echo $this->headScript(); ?>
        <!-- custom js end -->
    </head>
    
    <body <?php if($this->model_alias){ echo ' data-alias="'.$this->model_alias.'" '; } ?> class="navbar-fixed <?php echo $this->is_iframe?' iframe ':''; ?> <?php echo $this->action?' '.$this->action.' ':''; ?>">
	
        <?php  Sl_Event_Manager::trigger(new Sl_Event_View('pageOptions', array('view' => $this))); ?>
    
        <header id="header" class="navbar">
            <a class="navbar-brand" href="/">
                <?php Sl_Event_Manager::trigger(new Sl_Event_View('logo', array('view' => $this))); ?>
            </a>
            <?php Sl_Event_Manager::trigger(new Sl_Event_View('nav', array('view' => $this))); ?>
            <?php Sl_Event_Manager::trigger(new Sl_Event_View('header', array('view' => $this))); ?>
        </header>
    
        <?php
            $cache_id = 'left_menu_main'.implode('_', \Sl_Service_Acl::getCurrentRoles(true)).'_'.($this->is_iframe?1:0);
            if(Sl\Service\Cache::test($cache_id)) {
                echo Sl\Service\Cache::load($cache_id);
            } else {
                $content = $this->action('leftnav', 'main', 'menu');
                Sl\Service\Cache::save($content, $cache_id);
                echo $content;
            }
        ?>
        <div class="container-fluid" id="content">
            <section class="main padder">
                <div id="main">
                    <div class='container-fluid'> 
                        <?php
                            \Sl_Event_Manager::trigger(new Sl_Event_View('beforePageHeader', array('view' => $this)));
                            \Sl_Event_Manager::trigger(new Sl_Event_View('beforeContent', array('view' => $this)));

                            $event = new \Sl\Module\Menu\Event\Breadcrumbs('beforeBreadcrumbs', array('html' => '', 'request' => \Zend_Controller_Front::getInstance()->getRequest()));
                            \Sl_Event_Manager::trigger($event);
                            if(count($event->getButtons())) {
                                foreach($event->getButtons() as $button) {

                                    $html_buttons .= $button;
                                }
                            }
                        ?>
                        <div class="page-header">   
                            <h3>
                                <span class="title"><?php echo $this->title ? ($this->title.': ') : ''; ?></span><span class='subtitle'><?= $this->subtitle ?></span>
                                <div class='btns'><?= $html_buttons ?></div>
                            </h3>
                        </div>
                        <?php Sl_Event_Manager::trigger(new Sl_Event_View('content', array('view' => $this))); ?>
                    </div>
                </div>
            </section>
        </div>    
        <script>
            var is_iframe = <?php echo $this->is_iframe?'true':'false'; ?>;
            var cur_action = '<?php echo $this->action?$this->action:'';?>';
        </script>
        <footer>
            <?php if(!$this->is_iframe) { ?>
                <a href='http://silencatech.com/' target='_blank' class='silenca-logo pull-right'></a>
            <?php } ?>
        </footer>
        <?php \Sl_Event_Manager::trigger(new \Sl_Event_View('bodyEnd', array('view' => $this))); ?>
        <?php echo $this->partial('partials/tmpls.phtml'); ?>
        <?php \Sl\Service\Benchmark::save('just before output'); ?>
        <!-- Event counter: <?php echo \Sl_Event_Manager::getCounter(); ?> -->
        <!-- Benchmark: <?php print_r(\Sl\Service\Benchmark::get()); ?> -->
    </body>
</html>
