<?php
$html = '';
try {
       
    if (null === $this->container) {
        $this->container = $this->breadcrumbs()->getContainer();
    }
    
    // find deepest active
    
    if (!$active = $this->breadcrumbs()->findActive($this->container)) {
        
        throw new \Exception();
    }
   
    $active = $active['page'];
 //print_r($active->isActive());
 //   die;
    // put the deepest active page last in breadcrumbs
    if ($this->breadcrumbs()->getLinkLast()) {
        $html = ' <li>' . $this->breadcrumbs()->htmlify($active) . '</li>' ;
    } else {
        $html = $active->getLabel();
        if ($this->breadcrumbs()->getUseTranslator() && $t = $this->breadcrumbs()->getTranslator()) {
            $html = $t->translate($html);
        }
        $html = ' <li>' . $this->breadcrumbs()->htmlify($active) . '</li>' . PHP_EOL;
    }

    // walk back to root

    while (($parent = $active->getParent()) != null) {
        if ($parent instanceof Zend_Navigation_Page) {
            // prepend crumb to html
            $html = ' <li>' . $this->breadcrumbs()->htmlify($parent) . '<i class="icon-angle-right"></i> </li>' . PHP_EOL  .$html;
        }

        if ($parent === $this->container) {
            // at the root of the given container
            break;
        }

        $active = $parent;
    }
} catch(\Exception $e) {
    
}
/*
$html_buttons = '';
$event = new \Sl\Module\Menu\Event\Breadcrumbs('beforeBreadcrumbs', array('html' => $html, 'request' => \Zend_Controller_Front::getInstance()->getRequest()));
    \Sl_Event_Manager::trigger($event);
    if(count($event->getButtons())) {
        foreach($event->getButtons() as $button) {
            
            $html_buttons .= $button;
        }
    }
    */
echo strlen(trim($html).trim($html_buttons))?$this->breadcrumbs()->getIndent() . '<div class="breadcrumbs"><ul class="breadcrumb '.($this->is_form_action?' form ':'').'">' . PHP_EOL 
                     . $html .  '</ul>'./*$html_buttons.*/'</div>' . PHP_EOL : '';
?>