<?php

$device_device = new \Sl\Service\DetectDevice;

$html = array();
$this->navigation()->setAcl(\Sl_Service_Acl::acl());
//print_r($this); die;
//print_r($this->container);

$_active = false;
try {
    foreach ($this->container as $page) {
        $subhtml = '';
        if (!$this->navigation()->accept($page))
            continue;
        if (!$page->getVisible())
            continue;
        if (!empty($page->pages) || $page->href != '#') {
            //$subhtml[] = "<ul class='dropdown-menu'>";
            \Sl_Event_Manager::trigger(new \Sl_Event_Navigatepage('editPage', array('page' => $page)));
            $subhtml = $this->partial('sidemenu_li.phtml', array('page' => $page, 'navigation' => $this->navigation()));
        }

        $props = $page->GetCustomProperties();
        $href = isset($props['href']) ? $props['href'] : $page->getHref();

        if (!strlen($subhtml) && !strlen(trim(str_replace('#', '', $href))))
           continue;

        $html[] = '<ul class="nav navbar-nav">';
        
        $active = $page->isActive();

        /* @var $page Zend_Navigation_Page */
        if (!$_active && $page->hasPages()) {
            foreach ($page->pages as $p) {
                if ($p->isActive()) {
                    $_active = $active = true;
                }
            }
        }

        $html[] = '<li class="' . (!empty($page->pages) ? 'dropdown ' : '' ) . trim($page->getClass() . ' ') . ($active ? 'active' : '') . '">';

        $class_string = !empty($page->pages) && strlen($subhtml) ? "class=\"dropdown-toggle\" data-toggle=\"dropdown\" " : "";


        $b_string = !empty($page->pages) && strlen($subhtml) ? "<b class=\"caret\"></b>" : '';

        $icon = false;
        if ($icon = trim($page->get('icon') . '')) {
            $icon = '<i class="icon-white icon-' . $icon . '"></i>&nbsp;';
        }
        $props = $page->getCustomProperties();
        $label = ((isset($props['nolabel']) && $props['nolabel']) || $device_device->isMobile()) ? '' : $this->translate($page->getLabel());

        $html[] = "<a " . $class_string . " href='" . $href . "' data-id='" . $page->getId() . "'>" . ($icon ? $icon : '') . $label . $b_string . '</a>';



        $html[] = $subhtml;


        $html[] = "</li>";
        $html[] = '</ul>';
    }
} catch (\Exception $e) {
    
}

try {
    echo join(PHP_EOL, $html);
} catch (\Exception $e) {
    
}