<div class="b-circles">
    <?php foreach($this->circles as $circle) { ?>
        <span
            class="b-circle_data"
            data-id="<?php echo $circle->getId(); ?>"
            data-name="<?php echo $circle->getName(); ?>"
            data-moderators="<?php echo $this->escape(json_encode(\Sl\Service\Essentials::read($circle, 'circleusers', true))); ?>"
            >
            <?php foreach($circle->fetchRelated('circleusers') as $user) { ?>
                <span
                    class="b-circle_user-data"
                    data-id="<?php echo $user->getId(); ?>"
                    data-name="<?php echo $user->getName(); ?>"
                    data-initials="<?php echo $user->findInitials(); ?>"
                    data-color="<?php echo $user->getColor()?('#'.$user->getColor()):''; ?>"
                    >
                </span>
            <?php } ?>
        </span>
    <?php } ?>
</div>

<script id="circleTemplate" type="text/x-underscore-tpl">
    <span class="col-xs-4 b-circle" data-id="<%= circle.get('id') %>">
        <section class="panel">
            <header class="panel-heading">
                <% if(circle.isModerator(curUser.get('id'))) { %>
                    <i class="b-circle_ctrl fa fa-plus pull-right adder"></i>
                <% } %>
                <div class="text-center h5"><%= circle.get('name') %></div>
            </header>
            <ul class="list-group m-b-small">
                <% if(circle.isModerator(curUser.get('id'))) { %>
                    <li class="list-group-item b-circle_ctrl-add hidden">
                        <input type="text" class="form-control autocomplete" />
                    </li>
                <% } %>
                <% _.each(circle.getUsers(), function(user) { %>
                    <li class="list-group-item <% if(user.get('id') == curUser.get('id')) { %> bg-lighter <% } %>" data-current="<%= (curUser.get('id') == user.get('id'))?1:0 %>" data-user="<%= user.get('id') %>">
                        <span class="pull-right" data-uid="<%= user.get('id') %>">
                            <% if(circle.isModerator(user.get('id'))) { %>
                                 <i class="fa fa-star b-circle_moderator"></i>
                            <% } %>
                            <% if(circle.isModerator(curUser.get('id'))) { %>
                                <i class="b-circle_ctrl b-circle_ctrl-moderate fa fa-star-o"></i>
                                <i class="b-circle_ctrl b-circle_ctrl-delete fa fa-times"></i>
                            <% } %>
                        </span>
                        <%= _.tpl('#mainUserIconInitials', { color: user.get('color'), title: user.get('name'), initials: user.get('initials') }) %>
                        <%= user.get('name') %>
                    </li> 
                <% }) %>
            </ul>
        </section>
    </span>
</script>