.panel-body div.control-group {
    display: block;
    margin-bottom: 10px;
}

.page-header {
    display:none;
}

fieldset.panel-body {
    padding:0;
}

.auth-form form div.control-group:last-child,
.change-password div.control-group:last-child{
    float:right;
    margin-bottom:0;
}
.auth-form form div.control-group:last-child div.controls,
.change-password form div.control-group:last-child div.controls
{
    padding-top:15px;
    
}

.auth-form form div.control-group:nth-last-child(2),
.change-password form div.control-group:nth-last-child(2){
    float:left;
    margin-bottom:0;
}
.close-newpassword, .new-password {
    color: #3a5a7a;
    font-size: 85%;
    background: #FFF;
    border: 0;
}

