table.datatable.table tr.name_1 td,
table.datatable.table tr.name_1:hover td,
table.datatable.table tbody > tr.name_1:nth-child(2n+1) > td,
table.datatable.table tbody > tr.name_1:nth-child(2n+1):hover > td {
    background-color: rgb(185, 248, 185);
}

table.datatable.table tr.name_0 td,
table.datatable.table tr.name_0:hover td,
table.datatable.table tbody > tr.name_0:nth-child(2n+1) > td,
table.datatable.table tbody > tr.name_0:nth-child(2n+1):hover > td {
    background-color: rgb(231, 231, 255);
}

table.datatable.table tr.name_-1 td,
table.datatable.table tr.name_-1:hover td,
table.datatable.table tbody > tr.name_-1:nth-child(2n+1) > td,
table.datatable.table tbody > tr.name_-1:nth-child(2n+1):hover > td {
    background-color: rgb(252, 220, 220);
}

table.datatable.table tr.name_2 td,
table.datatable.table tr.name_2:hover td,
table.datatable.table tbody > tr.name_2:nth-child(2n+1) > td,
table.datatable.table tbody > tr.name_2:nth-child(2n+1):hover > td {
    background-color: #FFD86E;
}