<div id='commentsline_informer' class='commentsline_informer'>
<div id='commentsline' class='commentsline'>

        
</div>
<? if ($this->create_access){?>
  <span> 
      <textarea id='create_new_comment' class='create_new_comment'></textarea> <button id='send_new_comment' title='Ctrl+Enter' class='pull-right btn btn-large btn-info send_new_comment'><i class='icon-pencil icon-white'></i></button>
  </span>    
<? }?>
</div>
<div id='fields_comments_block' class='like-informer commentsline_informer'>
    <div class='field-comments-counter'></div> <span class='field-title'></span> <i class='close-ctrl icon-resize-small'></i>
    <div class='fc-commentsline commentsline'>
    </div>
<? if ($this->create_access){?>
    <span class='add_new_comment'>
    <input type='hidden' id='fc-field'>
    <textarea class='create_new_comment'></textarea> <button class='send_new_comment pull-right btn btn-large btn-info' title='Ctrl+Enter'><i class='icon-pencil icon-white'></i></button>
    </span>
<? }?>
    
</div>