<script>
    var module_model_form_delimiter = '__';
    
</script>
<?

foreach ($this->modules as $module_name => $models){ ?>
   <div class='module_element'> <h3><?=$module_name?></h3>
    <?foreach ($models as $model_name => $is_commented){ ?> 
     
      <div class='model_element'>
          
          <?= new \Zend_Form_Element_Checkbox(implode('__',array($model_name, $module_name)), array('label'=>$model_name, 'value'=>$is_commented, 'disableLoadDefaultDecorators'=>true, 'class'=>array('is-commented'),'decorators'=>\Sl_Form_Factory::$default_decorators))?>
          <?/* = $this->formRadio(implode('__',array($model_name, $module_name)), $is_deal
                                                          , array(), 
                                                               array(\Sl\Service\Accounting::DEAL_MODELS_KEY => 'Deal', 
                                                                      \Sl\Service\Accounting::DOCS_MODELS_KEY => 'Document',
                                                                      '' => '---'
                                                                      ));
           */ ?>
      </div>  
    
    <?}?>
    </div>
<? } 

