<?php  if($this->exception) { ?>
    <div><h2><?php echo $this->exception->getMessage(); ?></h2><div><?php echo $this->exception->getTraceAsString(); ?></div></div>
<?php  } else {  ?>
    <script>
    
    <?=$this->calc_script?>
    </script>
    
<?php  if($this->errors) { 
      echo $this -> partial('errors.phtml', array('errors'=>$this->errors));
    }
    
?>


<form class='<?=trim(str_replace('form-horizontal', '', $this->form->getAttrib('class'))); ?> <?= $this->is_iframe ? 'form_compact':''?>' action='<?=$this->form->getAction()?>' method='<?=$this->form->getMethod()?>' enctype="multipart/form-data">

<div class="row-fluid">

	
	<span class="span3 name">
		<?=\Sl_Form_Factory::elementToString($this->form, 'name');?>
            
            <span class="span3 date_start" style="margin-left: 0"><?=\Sl_Form_Factory::elementToString($this->form, 'date_start');?></span>          
            <span class="span3 date_finish"><?=\Sl_Form_Factory::elementToString($this->form, 'date_finish');?></span>
	
	</span>

    
        <span class="span6">
		<?=\Sl_Form_Factory::elementToString($this->form, 'description');?>
	</span>

    
    
</div>
<div class="row-fluid">
    	<span class="span3 remind">
		<?=\Sl_Form_Factory::elementToString($this->form, 'remind');?>               
	</span>  
    
        <span class="span3 status" >
                <?=\Sl_Form_Factory::elementToString($this->form, 'status');?>
        </span>  
    
        <span class="span3 type" >
		<?=\Sl_Form_Factory::elementToString($this->form, 'type');?>
	</span>

        <span class="span4">
                <?=\Sl_Form_Factory::elementToString($this->form, 'modulerelation_taskuser');?>
        </span>   

    
    
</div>
<div class="row-fluid mail_from " > 
        
    <span class="span8" >
                <?=\Sl_Form_Factory::elementToString($this->form, 'mail_topic');?>
                <?=\Sl_Form_Factory::elementToString($this->form, 'mail_body');?>
        </span>
        <span class="span3 minheight taskmailergroup">
            <?=\Sl_Form_Factory::elementToString($this->form, 'modulerelation_taskmailergroup');?>
            <span class="taskfile_mail"><?=\Sl_Form_Factory::elementToString($this->form, 'modulerelation_taskfile');?></span>
        </span>
        <span class="span3 minheight" style="display: none">
            <?=\Sl_Form_Factory::elementToString($this->form, 'modulerelation_taskemail');?>
        </span>
        
        
        
</div>
    

<div class="row-fluid listform well" > 
        
                <?=\Sl_Form_Factory::   subformToString($this->form, 'modulerelation_tasknote');?>
        
</div>    
<div class="row-fluid listform well" > 
        
                <?=\Sl_Form_Factory::   subformToString($this->form, 'modulerelation_reverserelatednexttask');?>
        
</div>    
<div class="row-fluid listform well" > 
        
                <?=\Sl_Form_Factory::   subformToString($this->form, 'modulerelation_relatednexttask');?>
        
</div>    

</form>  
<?php }  ?>
