<?if($this->data[2]):?>
    <div class='mainframe' id ="online_taskactivite">        
            <ul class="thumbnails">    
            <? foreach( $this->data[2] as $task){  ?>
                <li class="span3"><a href="#" data-url="/crm/task/edit/id/<?=$task['id']?>" class="item"><?=$task['name']?></a><br /><?=$task['date_start']?></li>
            <? } ?>
            </ul>        
    </div>    

<? endif;?>