<script>
var listtreeaction = '/kfinance/finacnt/ajaxlisttree/';
var tree_selector = '#tree';
var tree_relation = '<?=$this->relation_name?>';
var tree_theme_url = '/css/jstree/default/style.css';
var model_priv_update = <?=(int)$this->priv_update?>;
var model_priv_create = <?=(int)$this->priv_create?>;
var model_priv_create_modulerelation = <?=$this->priv_create_modulerelation?>;

var create_modulerelation_url = '/home/admin/createmodulerelation/';
var ajax_edit_url = '/kfinance/finacnt/ajaxtreeedit/';
var ajax_create_url = '/kfinance/finacnt/ajaxtreecreate/';
var node_action;
var translate_btn_edit = '<?=$this->translate('Edit')?>';
var translate_btn_create = '<?=$this->translate('Создать')?>';
var translate_btn_create_modulerelation = '<?=$this->translate('Create Relation')?>';
var transaction_class = '<?=$this->transaction_class?>';
var acnt_class = '<?=$this->acnt_class?>';
</script>
<div id='tree'>
</div>