.post-types {
    display:inline-block;
    margin-left:10px;
}

#comment-form div.types {
    display:inline-block;
    clear:both;
    float:left;
    margin-top:10px;
}

#comment-form div.files {
    display:inline-block;
    float:left;
    margin-left:20px;
    margin-top:10px;
}

article.post #comment-form div.maintag,article.post #comment-form div.circles-input {
    display:none;
}

#comment-form div.maintag:before
{
    padding-right: 5px
}

#comment-form #maintag_names {
    width:150px;
}

#comment-form div.maintag span input {
 
}

#comment-form div.maintag,#comment-form div.tags-input, #comment-form div.circles-input {
    display:inline-block;
/*    float:right; */
    margin-right: 10px;
    margin-bottom: 5px;

}

#comment-form .select2-container .select2-choice div b{
    padding-left:4px;
}

#comment-form .select2-container .select2-choice {
    height:30px;
    padding-left:0;
    padding-top:2px;
}

#comment-form div.circles-input:before{
    padding-right:5px;
}

#comment-form div.files .attach, .fileshare-head .attach{
    cursor:pointer;
}

.post-types .post-type-1:before, 
#comment-form div.types .post-type-1:before{
    
    content: "\f055";

}

.post-types .post-type-2:before, 
#comment-form div.types .post-type-2:before{
    
    content: "\f0c0";

}

.post-types .post-type-3:before,
#comment-form div.types .post-type-3:before{
    
    content: "\f155";

}

.post-types .fa:before{
    color:#ccc;
}

.post-types .fa,
#comment-form div.types .fa {
    display:inline-block;
    margin-left:10px;   
    cursor:pointer;
}

.post-types .fa.active,
#comment-form div.types .fa.active{
    cursor:default;
    
}
.post-types .fa.active:before,
#comment-form div.types .fa.active:before{
    color:#13c4a5;
    
}


.post-types .fa span, 
#comment-form div.types .fa span{
    display:none;
}

#comment-form button{
    margin-left: 5px;
}

.new-post {
    margin-left:50px;
}

article.comment a.comment-user {
    margin-right:10px;
}



.new-post .post-content{
    cursor:text;
}

article.post > article.post {
    margin-left:30px;
}

.post-create .tags-input {
    margin: 5px 0;
   /* float: right; */
}

.post-create .tags-input:before {
    
    padding-right:3px;
}

.post-create .form-btns:after{
    clear:both;
}

.post-create .form-btns{
    float:right; 
    margin-top:5px;
}

div.post-tags span.label{
    margin-top:5px;
    display:inline-block;
}

.post-master-object {
    display: inline-block;
    margin-left: 10px;
}
article.post div.post-content{
    cursor:text;
}



.files-pillbox.pillbox,
.tags-pillbox.pillbox{
    padding:0;
    border:none;
}

.tags-pillbox.pillbox:after{
    clear:both;
}

.post-files .file-label a{
    color:#blue;
    text-decoration: underline;
    padding-left:5px;
}

.post-files .file-label:before,
.pillbox.files-pillbox li:before{
    content: "\f0c6";
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.post-tags {
    
}

.post-files{
    
    
}
#comment-form{
    margin-top:10px;
    clear:both;
}


.factbox, .fileshare {
    min-height: 50px;
    max-height: 200px;
}

.factbox .fact, .fileshare .file{
    
    border-bottom: 1px dashed #ccc;
    
}

.factbox .fact:last-child, .fileshare .file:last-child{
    border-bottom: none;
}

.drag-helper {
    background: #fff;
    border: 1px dashed #ccc;
    width:200px;
}

.pillbox.files-pillbox .file-label{
    color:blue;
    padding-left:5px;
}

.pillbox.files-pillbox li:before{
    margin-right: 5px;
}

.pillbox.files-pillbox li:after,
.pillbox.files-pillbox li:before{
    color:black;
    
}
.pillbox.files-pillbox li:after{
    font-weight:bold;
}
.tags-select{
    width:300px;
    
}
.post .post-tags{
    padding-bottom:5px;
}
.post section.panel > div.panel-body{
    padding-top:3px;
}
.post .post-tags span {
    display:inline-block;
    margin-right:10px;
    cursor:pointer;
    font-size:10px;
    line-height:10px;
    
    color:grey;
    text-decoration: underline;
}

.post-creation .temp-title {
    display:none;
}

.new-post #comment-form{
    margin-top:0px;
}

.post-files .file-label{
    display:block;
}

.fileshare .post-content .username{
    display:inline-block;
    float:right;
    font-weight: bold;
}

.fileshare.scrollbar:hover {
    padding-right:10px;
}

.fileshare-head .attach {
    margin-left:7px;
}

.fact .fact-item {
    cursor:pointer;
}