/* 
    Document   : requestinfo
    Created on : 13 груд 2013, 13:17:32
    Author     : Illya
    Description:
        Purpose of the stylesheet follows.
*/

#bills_info table.table-bordered .dropdown .billprintbutton { 
   opacity: 0.5;
}

#bills_info table.table-bordered .dropdown .billprintbutton:hover { 
   opacity: 1;
}

#bills_info table.table-bordered .dropdown .inpartial { 
   position: absolute;
}

#bills_info table.table-bordered .dropdown .printform-point { 
   display: none;
}