<?php
use Sl_Form_Factory as FormFactory;
?>
<?php if ($this->exception) { ?>
    <div>
        <h2><?php echo $this->exception->getMessage(); ?></h2>
        <div><?php echo $this->exception->getTraceAsString(); ?></div>
    </div>
<?php } else { ?>
    <script>
    <?= $this->calc_script ?>
    </script>
    <?php if ($this->errors) { ?> 
        <?php echo $this->partial('errors.phtml', array('errors' => $this->errors)); ?>
    <?php } ?>
    <form
        class="<?php echo $this->form->getAttrib('class'); ?>"
        action="<?php echo $this->form->getAction(); ?>"
        method="<?php echo $this->form->getMethod(); ?>">
        <?php echo FormFactory::elementToString($this->form, 'id'); ?>
        <?= FormFactory::subformToString($this->form, 'essentials');  ?>
        
        <div class="form-group">
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'name'); ?>
            </div>
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'registered_addr'); ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'regulatory_body'); ?>
            </div>
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'physical_addr'); ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'phone'); ?>
            </div>
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'fax'); ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'email'); ?>
            </div>
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'establishment_date'); ?>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <?php echo FormFactory::elementToString($this->form, 'business_line'); ?>
            </div>
           
        </div>
        <div class="form-group">
             <div class="col-md-6">
                <?php echo FormFactory::elementToString($this->form, 'modulerelation_counterpartycontact'); ?>
            </div>
        </div>
    </form>
<?php } ?>