/* 
    Document   : edit.css
    Created on : 14.10.2013, 17:42:40
    Author     : Ruslan
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
#modulerelation_mailergroupcustomer_btn
{
    display: none;
}
#modulerelation_mailergroupcustomer_create
{
    display: none;
}

.datatable tr.status_1 td, 
.datatable tr.status_1:hover td, 
.table-striped tbody > tr.status_1:nth-child(2n+1) > td, 
.table-striped tbody > tr.status_1:nth-child(2n+1):hover > td 
{
  background: none repeat scroll 0 0 #D9EDF7;
}

#description
{
    height: 21px;
    width: 565px;
}