<script type="text/x-underscore-tpl" id="mainUserIconInitials">
    <span class="user-icon-initials"style="background-color: <% if(color) { %><%= color %><% } else { %>black<% } %>" title="<% title %>"><%= initials %></span>
</script>