  <script src="/js/fuelux/fuelux.js"></script>
  <script src="/kcomments/main/postfeed.js"></script>
  <link rel="stylesheet" href="/crm/main/gantt.css">
  
  <!-- gantt scripts  -->
  
  <link rel=stylesheet href="/css/gantt/dhtmlxgantt.css" type="text/css">
  

  
  <script src="/js/libs/gantt/dhtmlxgantt.js"></script>
  <!-- script src="/js/libs/gantt/dhtmlxgantt_tooltip.js"></script -->
  <script src="http://export.dhtmlx.com/gantt/api.js"></script>  
  <script src="/crm/main/gantt.js"></script>
  
  
  <!-- end of gantt scripts -->

<script>      

    if (undefined == crm_object_tag_id){
        var crm_object_tag_id;
    }
    <? if ($this->object_tag_id): ?>
    crm_object_tag_id = <?=$this->object_tag_id;?>;
    <? endif; ?>
        
</script>

<div class="gantt-panel col-lg-12">
    
    <div id="milestone-gantt" class="panel gantt-readonly" data-gantt_title="<?= $this->object->getIdentifier(); ?>">
    
    </div>
</div>

<div class="main-panel col-lg-8">
    <section class="panel">
                <header class="panel-heading">
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#post_feed" data-toggle="tab">Discussion board</a></li>
                    <li><a href="#form" data-toggle="tab" data-model_id='<?=$this->object->getId();?>'>Details</a></li>
                    
                    <!-- li><a href="#tm" data-toggle="tab">Task manager</a><span class='task-title'>
                       <? if (\Sl_Service_Acl::isAllowed(
                                            \Sl_Service_Acl::joinResourceName(array(
                                                'type' => \Sl_Service_Acl::RES_TYPE_MVC,
                                                'module' => 'crm',
                                                'controller' => 'task',
                                                'action' => 'ajaxedit'
                                            )), \Sl_Service_Acl::PRIVELEGE_ACCESS
                         )){
                            echo '<span id="edit-task-popover" data-toggle="popover"  rel="popover" data-html="true" '
                                    . '                     data-placement="bottom" '            
                                    . '                     data-original-title="<button type=\'button\' class=\'close pull-right\' data-dismiss=\'popover\'><i class=\'fa fa-times\'></i></button>Edit" '
                                    . '                      ></span>';
                        } ?>
                         <span 
                              data-content="<span id='form-create' class='fa fa-spinner' data-alias='crm.task' data-rel ='/crm/task/ajaxcreate'></span>" 
                              data-original-title="<button type='button' class='close pull-right' data-dismiss='popover'><i class='fa fa-times'></i></button>Create" 
                              data-toggle="popover" rel="popover" 
                              data-html="true" 
                              data-placement="bottom" 
                              class="menu-btn-simple fa fa-plus createbaseobject"></span>
                         <i class="fa fa-gear fa-lg toggle_settings"></i>     
                        </span></li -->
                </ul>
                </header>


                <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="post_feed" data-relation='productpost' data-model_id='<?=$this->object->getId();?>'>
                        <section class="comment-list block">
                        </section>
                    </div>
                    <div class="tab-pane" id="form">

                        

                    </div>
              
                     <!--div class="tab-pane" id="tm">



                        </div-->
                </div>
                </div>



    </section>
</div>

<div class='right-panel col-lg-4 pull-right'>
    <div class='right-boxes'>         
        <section class="panel">
            <header class="panel-heading">
                Master Target: <b><?=$this->object->getTargetSum()?></b> <span class='pull-right'><?=$this->object->getTargetDate()?></span>
            </header>
            <div class='panel-body'>
              <?=(strlen($this->object->getMasterTarget())?nl2br($this->object->getMasterTarget()) : $this->translate('empty').'...');?>
            </div>
          </section>
    
          
            <section class="panel">
            <header class="panel-heading">
              <?=$this->translate('Fact box')?>
            </header>
            <section class="factbox scrollbar scroll-y m-b">
                  
                  
            </section>
          </section>
    
            <section class="panel fileshare-panel" data-relation_name="productfile" data-relation_value="<?= $this->object->getId(); ?>">
                <header class="panel-heading fileshare-head">
                  File share
                  <i class="fa fa-plus attach" data-toggle="tooltip" data-placement="right" title="Attach file" data-original-title="Attach file"></i><input type="file" class="hide" value="" data-rel="/home/file/ajaxcreate/">
                </header>
                <section class="fileshare scrollbar scroll-y m-b">

                </section>
              
                
          </section>
    </div>
</div> 
  
  
