<div  id="post_feed" class ="col-lg-8">
    <section class="comment-list block">
    </section>
</div>
<div class="right-panel col-lg-4 pull-right">
    <section class="panel" data-spy="affix" data-offset-top="50">
        <header class="panel-heading">
            <span>Tasks</span>
            <?php if($this->canCreate) { ?>
                <span
                    href="#"
                    data-toggle="popover"
                    data-alias="crm.task"
                    rel="popover"
                    data-html="true"
                    data-placement="bottom"
                    data-original-title="<button type='button' class='close pull-right' data-dismiss='popover'><i class='fa fa-times'></i></button>Create"
                    data-content="<span id='form-create' class='fa fa-spinner' data-alias='crm.task' data-rel='/crm/task/ajaxcreate'></span>"
                    data-id="">
                        <i class="fa fa-plus"></i>
                </span>
            <?php } ?>
            <?php if($this->canEdit) { ?>
                <span
                    id="edit-task-popover"
                    data-toggle="popover"
                    rel="popover"
                    data-html="true"
                    data-placement="bottom"
                    data-original-title="<button type='button' class='close pull-right' data-dismiss='popover'><i class='fa fa-times'></i></button>Edit"
                    >
                </span>
            <?php } ?>
        </header>
        <div class="tasks-panel">
            <?php if($this->canView) { ?>
                <?php echo $this->action('list', 'task', 'crm', array(
                    'type' => '1',
                    'hot_status' => '1',
                    'filter_fields' => array(
                        'taskuser:id-eq-'.\Sl_Service_Acl::getCurrentUser()->getId(),
                        'status-lt-100'
                    )
                )); ?>
            <?php } ?>
        </div>
    </section>
</div>