<h3><?php echo $this->translate('Some milestones needs your attention'); ?></h3>
<ul>
    <?php foreach($this->milestones as $milestone) { ?>
        <li><?php echo $this->modelLink($milestone['link']?$milestone['link']:$milestone['object'], 'detailed', $milestone['object']); ?>: <?php echo ($milestone['level'] != 100)?vsprintf($this->translate(' (reached %s%%)'), array($milestone['level'])):$this->translate(' (overdue)'); ?></li>
    <?php } ?>
</ul>