<?php  if($this->exception) { ?>
    <div><h2><?php echo $this->exception->getMessage(); ?></h2><div><?php echo $this->exception->getTraceAsString(); ?></div></div>
<?php  } else {  ?>
    <script>
    
    <?=$this->calc_script?>
    </script>
    
<?php  if($this->errors) { 
      echo $this -> partial('errors.phtml', array('errors'=>$this->errors));
    }
?>


<form class='<?=trim(str_replace('form-horizontal', '', $this->form->getAttrib('class'))); ?>' action='<?=$this->form->getAction()?>' method='<?=$this->form->getMethod()?>' enctype="multipart/form-data">

<div class="row-fluid">

	
	<span class="span3">
		<?=\Sl_Form_Factory::elementToString($this->form, 'name');?>
		
		
	</span>
    	<span class="span9">
		
		<?=\Sl_Form_Factory::elementToString($this->form, 'description');?>
		
	</span>

    <span class="span4" style="display: none">
		<?=\Sl_Form_Factory::elementToString($this->form, 'modulerelation_mailergroupcustomer');?>
		
	</span>
           
    
    
</div>


	
	
	


</form>  
<?php }  ?>

    <?=$this->content?>
