.status_description_wrapper .item {
    margin-right: 3px;
}

.status_description_wrapper .item.status_data_5 {
    background-color: orange;
}

.status_description_wrapper .item.status_data_90 {
    background-color: brown;
}

#bcbuttonsreceivedate input.received {
    background-color: #3cb521;
    color: white;
    opacity: 0.65;
}