<span class="logistic_dealertarifsets_informer" data-alias="<?php echo $this->alias; ?>" data-rel="<?php echo $this->save_url; ?>">
    <h4 class="text-center"><?php echo $this->translate('title_dealertariffsets_logistic'); ?></h4>
    <?php echo $this->form; ?>
    <span class="update btn btn-block btn-mini btn-success"><?php echo $this->translate('Сохранить'); ?></span>
</span>