<script id="logistic_package_status_date_tmpl" type="text/x-jquery-tmpl">
    <span class="item btn disabled btn-mini btn-success status_data_${new_value}" title="${date} ${time} (${pretty_change})">${date}</span>
</script>